.dashboard-Container{
    margin:0;
	padding:0;
	background-size: cover;
	font-family: sans-serif;
    height: 75em;
    background-image: url('../assets/see.png');
}
.chatapp-text {
    color: white;
    font-size: x-large;
}
h3 {
    color: black;
    margin-inline-start: 4em;
    margin-block-start: 1em;
    text-transform: capitalize;
}
.popover {
    border: 2px dotted red;
  }
.container-box {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
    width: 401px;
    /* padding: 80px 40px; */
    box-sizing: border-box;
    background: white;}
.title{
    display: flex;
    /* flex-direction: inherit; */
    font-weight: bold;
    font-size: larger;
    margin-block-start: 4px;
    text-transform: capitalize;
}
.users{
    display: flex;
    flex-direction: row;
}
.users-btn{
    width: 30em;
    height: 7em;
}
.users-btn a{  
    margin-inline-start: -2em;
    margin-bottom: 1em;
}
.image{
    width: 30%;
    /* border-top-left-radius: calc(.25rem - 1px); */
    /* border-top-right-radius: calc(.25rem - 1px); */
    height: 72px;
    border-radius: 34px;
    margin-block-start: 17px;
    margin-inline-start: 25px;
}
.manuIcon{
    margin-right: 16px;
    color: white;
}
.groupIcon-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
}
.formOutlinedIcon-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
    margin-top: 15px;
}
.phoneIcon-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
    margin-top: 15px;
}
.invitationIcon-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
    margin-top: 15px;
}
.users-Box{
    position: absolute;
    top: 59%;
    left: 17%;
    transform: translate(-50%,-50%);
    width: 455px;
    height: 55em;
    padding: 80px 40px;
    box-sizing: border-box;
    background: white;
}

.navbar{
    background-color: blue;
    height: 57px;
}